<?xml version="1.0" encoding="utf-8"?>
<configuration>

  


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rahmat_Casting_Center.Properties.Settings.rahmat_casting_centerConnectionstring" connectionString="server=localhost;user id=root;password=1234;database=rahmat_casting_center" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>




 </configuration>