<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rahmat_Casting_Center.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Rahmat_Casting_Center.Properties.Settings.rahmat_casting_centerConnectionstring"
            connectionString="server=localhost;user id=root;password=1234;database=rahmat_casting_center"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Rahmat_Casting_Center.Properties.Settings>
            <setting name="bill_font" serializeAs="String">
                <value>Times New Roman, 12pt</value>
            </setting>
        </Rahmat_Casting_Center.Properties.Settings>
    </userSettings>
 </configuration>